@import 'style/_variables.scss';
@import 'style/_mixin.scss';

.login {
  &__header {
    border-bottom: 1px solid #bbb;
    &-wrap {
      display: flex;
      padding: 2.5rem 3rem;
      align-items: center;
      justify-content: center;
      .login__header-link {
        img {
          height: 3.6rem;
        }
      }
      h1 {
        font-weight: 500;
      }
    }
  }
  &__main {
    display: flex;
    align-items: center;
    padding: 10rem 0;
    .login__benefits-register {
      padding: 3rem 5rem;
      width: 50rem;
      border-right: 2px solid $cl-gray--l;
      @include respond(phone) {
        display: none;
      }
      &-title {
        font-size: 2.6rem;
        font-weight: bold;
        color: $cl-primary;
        margin-bottom: 2rem;
      }
      &-list {
        margin: 0;
        padding: 0;
        .login__benefits-register-item {
          list-style: none;
          font-size: 1.8rem;
          color: $cl-gray;
          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
          svg {
            color: $cl-primary;
            margin-right: 1rem;
          }
        }
      }
      &-link {
        border: 0.2rem solid $cl-primary;
        color: $cl-primary;
        width: 100%;
        margin-top: 2rem;
        font-size: 2rem;
        transition: background-color 0.2s;
        &:hover {
          color: $cl-primary;
          background-color: $cl-primary--l;
        }
      }
    }
    .login__form {
      flex: 1;
      padding: 0 5rem;
      @include respond(phone) {
        padding: 0 3rem;
      }
      &-title {
        font-size: 2.8rem;
        font-weight: bold;
        display: inline-block;
        padding: 0.5rem 1.5rem;
        border-bottom: 4px solid $cl-primary;
        color: $cl-primary;
        margin-bottom: 2rem;
        @include respond(phone) {
          font-size: 2.4rem;
        }
      }
      &-main {
        font-size: 1.8rem;
        color: $cl-primary;
        .form-group {
          margin-bottom: 2rem;
        }
        label {
          font-weight: bold;
        }
        input {
          font-size: 1.6rem;
          padding: 2rem;
          border-radius: 0.8rem;
        }
        .login__form-btn {
          width: 100%;
          font-size: 2rem;
          padding: 0.6rem;
        }
      }
      &-register {
        font-size: 1.6rem;
        margin-top: 2rem;
        a {
          color: $cl-primary;
        }
      }
    }
  }
}
