@import 'style/_variables.scss';

.addEdit_imagePreview {
  padding: 10px;
  display: flex;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
}
.fileField__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  input {
    display: none;
  }
}
