@import 'style/_variables.scss';
@import 'style/_mixin.scss';

.productDetail {
  &__main {
    padding: 2rem;
    &-left {
      display: flex;
      justify-content: center;
      .productDetail__main-img {
        width: 30rem;
      }
    }
    &-right {
      .productDetail__main-title {
        font-size: 2.2rem;
        font-weight: bold;
        margin: 0;
      }
      .productDetail__main-rating {
        margin: 1rem 0;
        width: 1.6rem !important;
        height: 1.6rem;
        &:not(:last-child) {
          margin-right: 0.8rem;
        }
      }
      .productDetail__main-info {
        a {
          text-decoration: none;
          color: $cl-primary;
          &:hover {
            text-decoration: none;
            color: $cl-primary;
          }
        }
      }
      .productDetail__main-price {
        display: flex;
        align-items: center;
        span {
          font-size: 3rem;
          color: $cl-primary;
          font-weight: bold;
          margin-left: 1rem;
        }
      }
      .productDetail__main-quantity {
        display: flex;
        align-items: center;
      }
      .productDetail__main-input {
        display: inline-block;
        width: 3.2rem;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: none;
      }
      .productDetail__main-control {
        border: none;
        font-size: 1.4rem;
        font-weight: bold;
        width: 3.05rem;
        height: 3.05rem;
        color: white;
        background-color: $cl-primary;
        &:disabled {
          background-color: $cl-gray !important;
        }
        &:nth-child(2) {
          border-radius: 0.5rem 0 0 0.5rem;
          margin-left: 1rem;
        }
        &:last-child {
          border-radius: 0 0.5rem 0.5rem 0;
        }
        &:focus {
          outline: none;
        }
      }
      .productDetail__main-buy-wrap {
        display: inline-block;
        margin: 0 2rem 0 0;
        @include respond(phone) {
          margin: 0 0 1rem 0;
          display: flex;
          justify-content: center;
        }
      }
      .productDetail__main-buy {
        text-align: center;
        width: 22rem;
        padding: 0.5rem;
        font-size: 2.2rem;
        text-transform: uppercase;
        @include respond(phone) {
          width: 100%;
        }
      }
    }
  }
  .productDetail__similar-item {
    margin-bottom: 2rem;
  }
  .productDetail__info {
    margin-bottom: 5rem;
    &-info {
      h3 {
        font-size: 2.6rem;
        font-weight: bold;
        color: $cl-primary;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.6rem;
        color: $cl-gray;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
      ul {
        padding-left: 3rem;
        li {
          font-size: 1.6rem;
          font-weight: 500;
          color: $cl-gray;
        }
      }
      &-left table {
        width: 100%;
        font-size: 1.6rem;
        th {
          text-align: center;
        }
      }
      &-right {
        table {
          th {
            text-transform: uppercase;
            color: $cl-gray--l;
            font-weight: bold;
          }
          th,
          td {
            border-width: 0 0 0.1rem 0;
            border-style: solid;
            border-color: $cl-gray--l;
          }
        }
      }
    }
  }
  .productDetail__review {
    margin-bottom: 5rem;
    &-overall {
      padding-top: 1.5rem;
      @include respond(phone) {
        margin-bottom: 1.5rem;
      }
      & > h4 {
        font-weight: bold;
        font-size: 2.2rem;
      }
      & > span {
        display: block;
        text-align: center;
        margin: 0.2rem 0;
        font-weight: bold;
        font-size: 2.2rem;
      }
      .productDetail__review-star {
        &:not(:last-child) {
          margin-right: 0.6rem;
        }
      }
      .productDetail__review-ratingWrap {
        display: flex;
        justify-content: center;
      }
      .productDetail__review-progress {
        display: flex;
        align-items: center;
        .productDetail__review-bar {
          width: 24.5rem;
          margin: 0 2.5rem;
          .progress-bar {
            background-color: $cl-orange !important;
          }
        }
        .productDetail__review-percent {
          font-size: 1.4rem;
          font-weight: bold;
          color: $cl-gray;
        }
      }
    }
    &-write {
      &-form {
        padding: 1.5rem;
        border-bottom: 0.2rem solid $cl-gray--l;
        background-color: $cl-primary--l;
        border-radius: 0.8rem;
        &-submit {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0;
        }
        h4 {
          font-size: 2.2rem;
          font-weight: bold;
        }
      }
      &-requireLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        span {
          font-size: 1.6rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
      }
      &-ratingWrap {
        display: flex;
        margin: 1rem 0;
        span {
          margin-right: 1rem;
          font-size: 1.4rem;
          font-weight: 500;
        }
        .productDetail__review-write-rating {
          margin-right: 0.6rem;
          cursor: pointer;
        }
      }
      &-comment {
        border: 1px solid $cl-primary !important;
        min-height: 10rem;
        font-size: 1.4rem;
        border-radius: 0.8rem;
      }
    }
    &-comments {
      display: flex;
      flex-direction: column;
      align-items: center;
      .productDetail__review-noComments {
        margin-top: 4rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}
