@import "./_variables.scss";

@keyframes upScale {
  0% {
    transform: scale(1);
    background-color: $cl-gray;
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.2);
    background-color: $cl-red;
  }
  100% {
    transform: scale(1);
    background-color: $cl-red;
  }
}
