// COLOR
$cl-primary: #0094da;
$cl-primary--m: #d8e4e7;
$cl-primary--b: #006a9c;
$cl-primary--l: #f0f5f7;
$cl-red: #d5493d;
$cl-orange: #f68121;
$cl-gray: #555;
$cl-gray--l: #c4c4c4;
$cl-w: #fff;

// FONT_FAMILY
$ff-primary: 'Quicksand', sans-serif;
