@import 'style/_variables.scss';
@import 'style/_mixin.scss';

.scrollToTop {
  position: fixed;
  bottom: 15rem;
  right: 15rem;
  border: 0.4rem solid $cl-primary;
  background-color: $cl-primary--l;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  &.show {
    opacity: 1;
    visibility: visible;
    @include respond(phone) {
      opacity: 0;
      visibility: hidden;
    }
  }
  &:focus {
    outline: none;
  }
  svg {
    width: 4rem !important;
    height: 4rem;
    color: $cl-primary;
  }
}

.loadingAuthenticated {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  img {
    height: 5rem;
    animation: scaleLogo 0.8s ease-in-out infinite;
    @include respond(phone) {
      height: 3rem;
    }
  }
}

.breadcrumb {
  background-color: transparent;
  &-item {
    font-size: 1.6rem;
    font-weight: bold;
    a {
      text-decoration: none;
      color: $cl-primary;
      &:hover {
        color: $cl-primary--b;
      }
    }
  }
}

@keyframes scaleLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
